src/inadyn
*~
#*#
*.o
.deps
aclocal.m4
autom4te.cache
compile
config.h*
config.log
config.status
config.guess
config.sub
configure
debian/files
debian/inadyn.debhelper.log
debian/inadyn.*.debhelper
debian/inadyn.substvars
debian/inadyn/
depcomp
include/stamp-h1
INSTALL
install-sh
missing
Makefile
Makefile.in
plugins/.dirstamp
/.pc
